<% provide(:title, "About") %>
<h1>About</h1>
<p>This is a simple microblogging application.</p>

<h3>Current Features</h3>
<p>Static html pages.</p>
<p>Live navigation links between static pages.</p>
<p>User creation and login</p>
<p>User following.</p>
<p>Micropost creation.</p>
<p>Micropost feed.</p>

