<% if logged_in? %>
  <div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>

  <div class="col-md-8">
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>

<% else %>
  <div class="center jumbotron">
    <h1>Welcome to <%= full_title %></h1>
    <h2></h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="center jumbotron">
  <a target="_blank" href="http://www.parafly-sim.co.uk/wp-content/uploads/2013/12/blogicon.png">
    <%= image_tag("blogicon.png", alt: "Blog Icon", align: "center") %></a>
</div>

<% end %>
